/* Portfolio section */
.portfolio {
    max-width: 1200px;
    /* Limit the maximum width of the portfolio section */
    margin: 0 auto;
    /* Center the portfolio section on the page */
    padding: 20px;
    /* Add some padding around the portfolio section */
}

.filter-list {
    margin-bottom: 20px;
    text-align: center;
    /* Center align filter buttons */
}

.filter-item {
    display: inline;
    /* Display filter items inline */
    margin-right: 10px;
    /* Add some spacing between filter items */
}

.filter-item:last-child {
    margin-right: 0;
    /* Remove margin from the last filter item */
}

.filter-item button {
    padding: 8px 14px;
    /* Adjust button padding */
}

.filter-select-box {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    /* Center align the select box */
}

.select-value {
    padding: 8px;
    /* Adjust padding for the select value */
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.select-icon {
    display: inline-block;
    /* Display select icon as inline-block */
    margin-left: 5px;
    /* Add some spacing between select value and icon */
}

.filter-select {
    padding: 8px 14px;
    /* Adjust padding for the select button */
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

.select-list {
    position: absolute;
    top: calc(100% + 5px);
    /* Align the select list below the select box */
    left: 50%;
    transform: translateX(-50%);
    /* Center the select list horizontally */
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.filter-select-box:hover .select-list {
    display: block;
    /* Show the select list on hover */
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* Allow project items to wrap to the next line */
    gap: 20px;
    justify-content: center;
    /* Center the project items horizontally */
}

.project-item {
    flex: 0 0 calc(33.3333% - 20px);
    /* Set the width for project items */
    max-width: calc(33.3333% - 20px);
    /* Set the maximum width for project items */
    text-align: center;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
}

.project-item a {
    text-decoration: none;
    color: inherit;
}

.project-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-category {
    color: #666;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .project-item {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .project-item {
        flex: 1 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}